<div class="row mx-auto" style="margin-top: 130px">
  <div class="col-sm-6">
    <div class="card bg-warning">
      <div class="card-body">
        <h5 class="card-title">Contact information</h5>
        <p class="card-text">email: eventsupport@gmail.com</p>
        <p class="card-text">phone number: +1 (828) 432 9280</p>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="card bg-warning">
      <div class="card-body">
        <h5 class="card-title">Event INC</h5>
        <p class="card-text">Gurgen Meliksetyants</p>
        <p class="card-text">personal phone number: +1 (938) 555 2342</p>
      </div>
    </div>
  </div>
</div>
