<div>
    <div class="jumbotron mx-auto mt-5" style="width: 90%;">
    <h1 class="display-4">Events!</h1>
    <p class="lead">This app will help you to find any evnet that you want!</p>
    <hr class="my-4">
    <p>If you want to find a concert or maybe you want to watch a football game. Are you an artist and want to meet other people? Everything could be found here!</p>
    </div>
    <div class="modal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
            <%= image_tag "party-transparent.png", class: "img-fluid d-block w-100", alt: "Alt Text" %>
            </div>
        </div>
    </div>
    <div class="card mx-auto mt-5" style="width: 60%;">
        <%= image_tag "party-transparent.png", class: "img-fluid d-block w-100", alt: "Alt Text" %>
        <div class="card-body">
            <h5 class="card-title">How to create an event</h5>
            <p class="card-text">If you want to create and event you need to Signup first. If you already have an account you can login</p>
        </div>
    </div>
</div>
